.visibility-level-setting {
  .option-description,
  .option-disabled-reason {
    color: var(--gray-700, $gray-700);
  }

  .option-disabled-reason {
    display: none;
  }

  .disabled {
    svg {
      opacity: 0.5;
    }

    .option-description {
      display: none;
    }

    .option-disabled-reason {
      display: block;
    }
  }
}

.saml-settings.info-well {
  .form-control[readonly] {
    background: var(--white, $white);
  }
}

.doorkeeper-authorize {
  max-width: px-to-rem(500px);
}

.created-deploy-token-container {
  .deploy-token-field {
    width: 90%;
    display: inline;
  }

  .btn-clipboard {
    background-color: var(--white, $white);
    border: 1px solid var(--gray-100, $gray-100);
  }

  .deploy-token-help-block {
    display: block;
    margin-bottom: 0;
  }
}

.ci-variable-table,
.deploy-freeze-table,
.ci-secure-files-table {
  table {
    tr {
      td,
      th {
        padding-left: 0;
      }

      // When tables are "stacked", restore td padding
      @media(max-width: map-get($grid-breakpoints, lg)) {
        td {
          padding-left: $gl-spacing-scale-5;
        }
      }
    }
  }

  @media(max-width: map-get($grid-breakpoints, lg)-1) {
    .truncated-container {
      justify-content: flex-end;
    }
  }
}

.gl-md-flex-nowrap.gl-md-flex-nowrap {
  @include gl-media-breakpoint-up(md) {
    @include gl-flex-nowrap;
  }
}
